#postsText.noscrollbars {
  overflow: hidden;
}

#alertTextForSelfMadePcb,
#alertTextForInfinitePossibilities,
#alertTextForSu120,
#alertTextForHandWired {
  color: #856404;
  background-color: #ffeeba;
}